.masterhead {
    background-size: cover;
    position: relative;  
    background-color: white;
}
.colour-overlay {
    position:absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}
.container h5{
    color: orange;
  }